<form action="index.php?app=b2c&ctl=admin_order&act=toAssign" method="post" id="i18n-form">
    <input type="hidden" name="order_id" value="<{$order_id}>" id="gEditor-GId-input"/>

    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridlist">
        <tbody>
        <tr>
            <th>销售人员</th>
            <td>
                <select name=admin_id vtype="required"><{html_options options=$users selected=$order.admin_id}></select>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2"><{button  id="btn-save" class="btn-primary" type="submit" label="保存"}></td>
        </tr>
        </tbody>
        </table>
</form>



<script>
    $('btn-save').addEvent('click',function(e){
        e.stop();
        var _form=this.form;
        _form.fireEvent('submit',e).erase('target');

    });
    $('i18n-form').store('target',{
        onComplete:function(){
            if($('btn-save').getParent('.dialog'))
                $('btn-save').getParent('.dialog').retrieve('instance').close();
        }
    });
</script>
