<form action="index.php?app=b2c&ctl=admin_order&act=<{$act}>&p[0]=<{$order_id}>" method="post" id="i18n-form">
    <input type="hidden" name="order_id" value="<{$order_id}>" id="gEditor-GId-input"/>
    <h3 ><{t}>站内信<{/t}></h3>
    <div class="division">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
            <tr>
                <th><{t}>标题：<{/t}></th>
                <td><input TYPE="text" name="message_title" size="80" value=""></td>
            </tr>

            <tr>
                <th><{t}>内容：<{/t}></th>
                <td>
                    <textarea  name="message_content" rows=5 cols="80"></textarea>
                </td>
            </tr>

            <tr>
                <td align="center" colspan="2">
                    <button id="btn-save" class="btn btn-primary" type="submit"><span><span><{$btn_name}></span></span></button>
                </td>
            </tr>
        </table>
    </div>
</form>



<script>
    $('btn-save').addEvent('click',function(e){
        e.stop();
        var _form=this.form;
        if(confirm('确认要执行此操作吗')){
            _form.fireEvent('submit',e).erase('target');
        }

    });
    $('i18n-form').store('target',{
        onComplete:function(){
            if($('btn-save').getParent('.dialog'))
                $('btn-save').getParent('.dialog').retrieve('instance').close();
        }
    });
</script>
