<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td style="vertical-align:top"><div class="tableform">
        <h4><{t}>保证金<{/t}></h4>
        <div class="division">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
            <thead>
              <tr>
                <th width="20%"><{t}>支付日期<{/t}></th>
                <th width="20%"><{t}>支付金额<{/t}></th>
                <th><{t}>支付方式<{/t}></th>
                <th><{t}>支付凭证<{/t}></th>
                <th><{t}>状态<{/t}></th>
                <th><{t}>操作<{/t}></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td><{$order.deposit_at|cdate:SDATE_STIME}></td>
              <td class="Colamount"><{$order.deposit|cur_odr:$order.currency}></td>
              <td><{if $order.deposit_img}><{t}>线下<{/t}><{else}><{t}>线上<{/t}><{/if}></td>
              <td><{if $order.deposit_img}><a href="<{$order.deposit_img}>" target="_blank"><img src="<{$order.deposit_img}>" width="100" height="100"></a> <{/if}></td>
              <td><{$order.deposit_status_txt}></td>

              <th><{if $order.deposit_status == 1}><a href="javascript:;" onclick="check_payment('<{$order.order_id}>','deposit',2)">通过</a>   <a href="javascript:;" onclick="check_payment('<{$order.order_id}>','deposit',-1)">不通过</a><{/if}></th>
            </tr>
            </tbody>
            
          </table>
        </div>
      </div></td>
  </tr>
    <tr>
        <td style="vertical-align:top"><div class="tableform">
            <h4><{t}>首款<{/t}></h4>
            <div class="division">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
                    <thead>
                    <tr>
                        <th width="20%"><{t}>支付日期<{/t}></th>
                        <th width="20%"><{t}>支付金额<{/t}></th>
                        <th><{t}>支付方式<{/t}></th>
                        <th><{t}>支付凭证<{/t}></th>
                        <th><{t}>状态<{/t}></th>
                        <th><{t}>操作<{/t}></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><{$order.down_payment_at|cdate:SDATE_STIME}></td>
                        <td class="Colamount"><{$order.down_payment|cur_odr:$order.currency}></td>
                        <td>线下</td>
                        <td><{if $order.down_payment_img}><a href="<{$order.down_payment_img}>" target="_blank"><img src="<{$order.down_payment_img}>" width="100" height="100"></a> <{/if}></td>
                        <td><{$order.down_payment_status_txt}></td>
                        <th><{if $order.down_payment_status == 1}><a href="javascript:;" onclick="check_payment('<{$order.order_id}>','down_payment',2)">通过</a>   <a href="javascript:;" onclick="check_payment('<{$order.order_id}>','down_payment',-1)">不通过</a><{/if}></th>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div></td>
    </tr>
    <tr>
        <td style="vertical-align:top"><div class="tableform">
            <h4><{t}>尾款<{/t}></h4>
            <div class="division">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
                    <thead>
                    <tr>
                        <th width="20%"><{t}>支付日期<{/t}></th>
                        <th width="20%"><{t}>支付金额<{/t}></th>
                        <th><{t}>支付方式<{/t}></th>
                        <th><{t}>支付凭证<{/t}></th>
                        <th><{t}>状态<{/t}></th>
                        <th><{t}>操作<{/t}></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><{$order.final_payment_at|cdate:SDATE_STIME}></td>
                        <td class="Colamount"><{$order.final_payment|cur_odr:$order.currency}></td>
                        <td>线下</td>
                        <td><{if $order.final_payment_img}><a href="<{$order.final_payment_img}>" target="_blank"><img src="<{$order.final_payment_img}>" width="100" height="100"></a> <{/if}></td>
                        <td><{$order.final_payment_status_txt}></td>
                        <th><{if $order.final_payment_status == 1}><a href="javascript:;" onclick="check_payment('<{$order.order_id}>','final_payment',2)">通过</a>   <a href="javascript:;" onclick="check_payment('<{$order.order_id}>','final_payment',-1)">不通过</a><{/if}></th>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div></td>
    </tr>
</table>
<script>
   function check_payment(order_id,field,status)
   {
       if (!confirm('确定要执行此操作吗？')){
           return;
       }
       var finder_id = "<{$finder}>";
       new Request({
           url:'index.php?app=b2c&ctl=admin_order&act=check_payment',
           data:{order_id:order_id,field:field,status:status},
           method:'post',
           onSuccess:function(response){
                var data =JSON.parse(response);
                if(data.code == 10000){
                    if(typeof finderGroup == 'undefined'){
                        window.location.reload();
                        window.location.href=window.location.href;
                    }else{
                        finderGroup[finder_id].refresh();
                    }
                }else{
                    alert(data.msg);
                }
           }
       }).send();
   }

</script>