<div class="tableform">
  <h3><{t}>物流状态<{/t}></h3>
  <iframe  width="100%" height="300px" src="/index.php/shopadmin/index.php?app=b2c&ctl=admin_order&act=logisticstrack&order_id=<{$order_id}>"></iframe>
</div>
