<div class="division">
  <div  class="table-grid">

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
          <tr>
              <td>订单ID</td>
              <td><{$offer.order_id}></td>
          </tr>
          <tr>
              <td>订单状态</td>
              <td><{$offer.status_txt}></td>
          </tr>
          <tr>
              <td>报价日期</td>
              <td><{$offer.created_at|cdate:FDATE_STIME}></td>
          </tr>
          <tr>
              <td>版本</td>
              <td>V<{$index}></td>
          </tr>
          <tr>
              <td>名称</td>
              <td><{$offer.name}></td>
          </tr>
          <tr>
              <td>首款</td>
              <td><{$offer.down_payment|cur_odr:$order.currency}></td>
          </tr>
          <tr>
              <td>尾款</td>
              <td><{$offer.final_payment|cur_odr:$order.currency}></td>
          </tr>
          <tr>
              <td>备注</td>
              <td><{$offer.remarks}></td>
          </tr>
      </table>
      <hr />
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
	<col style="width:70%"/>
	<col style="width:10%"/>
	<col style="width:10%"/>
	<col style="width:10%"/>
      <thead>
        <th><{t}>商品名称<{/t}></th>
        <th><{t}>单价<{/t}></th>
        <th><{t}>合计金额<{/t}></th>
        <th><{t}>购买量<{/t}></th>
      </tr>
      </thead>
      <{if count($offer.items) > 0}>
      <{foreach from=$offer.items item=aGoods name="item"}>
        <tr>
          <td class="textleft" ><{if $aGoods.link_url}><a href="<{$aGoods.link_url}>" target="_blank"><{/if}><{$aGoods.name}><{if $aGoods.link_url}></a><{/if}><{if $aGoods.thumbnail_pic}> <a style='text-decoration:none;' class='x-view-img' href='javascript:void(0);' imgsrc='<{$aGoods.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>'  title='<{$aGoods.name}>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <{/if}> </td>
          <td ><{$aGoods.price|cur_odr:$order.currency}></td>
          <td class="Colamount"><{$aGoods.amount|cur_odr:$order.currency}></td>
          <td class="Colamount"><{$aGoods.nums}></td>
        </tr>
      <{/foreach}>
	  <{/if}>
    </table>
    </div>
</div> 

<script> 
$$('.x-view-img').each(function(item){
		 item.store('tip:text','<div style="width:220px;height:220px;overflow:hidden;"><img  src="'+item.get('imgsrc')+'" onload="$(this).zoomImg(220,220);" /></div>');
	     Xtip.attach(item);
});
</script>