<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="vertical-align:top"><div class="tableform">
        <h4><{t}>收款单据列表<{/t}></h4>
        <div class="division">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
          <col class="Coldate"></col>
          <col class="Colamount"></col>      
      <col></col>
      <col></col>
            <thead>
              <tr>
                <th><{t}>单据日期<{/t}></th>
                <th><{t}>支付金额<{/t}></th>
                <th><{t}>支付方式<{/t}></th>
                <th><{t}>状态<{/t}></th>
              </tr>
            </thead>
            <tbody>
            <{foreach from=$bills item=aBill}>
            <tr>
              <td><{$aBill.t_payed|cdate:SDATE_STIME}></td>
              <td class="Colamount"><{$aBill.money|cur_odr:$order.currency}></td>
              <td><{$aBill.pay_name}></td>
              <td><{if $aBill.status=='succ'}><{t}>支付成功<{/t}><{elseif $aBill.status=='failed'}><{t}>支付失败<{/t}><{elseif $aBill.status=='cancel'}><{t}>未支付<{/t}><{elseif $aBill.status=='error'}><{t}>参数异常<{/t}><{elseif $aBill.status=='progress'}><{t}>已付款至担保方<{/t}><{elseif $aBill.status=='timeout'}><{t}>超时<{/t}><{elseif $aBill.status=='ready'}><{t}>准备中<{/t}><{/if}></td>
            </tr>
            <{/foreach}>
            </tbody>
            
          </table>
        </div>
      </div></td>
    <td  style="vertical-align:top" ><div class="tableform">
        <h4><{t}>退款单据列表<{/t}></h4>
        <div class="division">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
           <col class="Coldate"></col>
          <col class="Colamount"></col>     
            <thead>
              <tr>
                <th><{t}>单据日期<{/t}></th>
                <th><{t}>退款金额<{/t}></th>
                <th><{t}>退款方式<{/t}></th>
                <th><{t}>状态<{/t}></th>
              </tr>
            </thead>
            <tbody>
            <{foreach from=$refunds item=aBill}>
            <tr>
              <td><{$aBill.t_payed|cdate:SDATE_STIME}></td>
              <td class="Colamount"><{$aBill.money|cur_odr:$order.currency}></td>
              <td><{$aBill.pay_name}></td>
              <td><{if $aBill.status=='succ'}><{t}>已退钱<{/t}><{elseif $aBill.status=='received'}><{t}>用户确认到款<{/t}><{elseif $aBill.status=='progress'}><{t}>已付款至担保方<{/t}><{elseif $aBill.status=='ready'}><{t}>准备中<{/t}><{/if}></td>
            </tr>
            <{/foreach}>
            </tbody>
            
          </table>
        </div>
      </div></td>
  </tr>
</table>
