<style>
.finder-list td {overflow:visible;}
.finder-detail-content {overflow:visible !important;}
</style>
<div class="tableform">
  <{if count($offers) > 0}>
  <div class="division">
    <div  class="table-grid">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
        <thead>
        <tr>
          <th><{t}>序号<{/t}></th>
          <th><{t}>时间<{/t}></th>
          <th><{t}>首款<{/t}></th>
          <th><{t}>尾款<{/t}></th>
          <th><{t}>操作<{/t}></th>
        </tr>
      </thead>
      <tbody>
        <{foreach from=$offers item=offer name="item"}>
        <tr>
          <td><{$offer.index }></td>
          <td ><{$offer.created_at|cdate:FDATE_STIME}></td>
          <td><{$offer.down_payment|cur_odr:$order.currency}></td>
          <td ><{$offer.final_payment|cur_odr:$order.currency}></td>
          <td >
              <a label="查看" href="index.php?app=b2c&ctl=admin_order&act=offer_detail&p[0]=<{$offer.id}>&p[1]=<{$offer.index }>&_finder[finder_id]=0bfbf9&finder_id=0bfbf9"  target="dialog::{ title:'报价明细', width:800, height:400}" icon="sss.ccc">
                  <span>查看</span>
              </a>
          </td>
        </tr>
        <{/foreach}>
      </tbody>
      </table>
    </div>
  </div>
  <{/if}>
</div>

