﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:2016px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:17px;
  width:898px;
  height:2016px;
}
#u7809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:2px;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:84px;
  width:898px;
  height:1px;
}
#u7810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2017px;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:17px;
  width:1px;
  height:2016px;
}
#u7811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:112px;
  width:112px;
  height:41px;
}
#u7812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:112px;
  width:112px;
  height:41px;
}
#u7813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:402px;
  width:112px;
  height:41px;
}
#u7814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:133px;
  width:0px;
  height:0px;
}
#u7815_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:337px;
  height:8px;
}
#u7815_seg1 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7815_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:153px;
  width:0px;
  height:0px;
}
#u7816_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u7816_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:47px;
}
#u7816_seg2 {
  border-width:0px;
  position:absolute;
  left:-449px;
  top:40px;
  width:453px;
  height:8px;
}
#u7816_seg3 {
  border-width:0px;
  position:absolute;
  left:-449px;
  top:40px;
  width:8px;
  height:52px;
}
#u7816_seg4 {
  border-width:0px;
  position:absolute;
  left:-455px;
  top:77px;
  width:20px;
  height:20px;
}
#u7816_text {
  border-width:0px;
  position:absolute;
  left:-274px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:245px;
  width:112px;
  height:41px;
}
#u7817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:423px;
  width:0px;
  height:0px;
}
#u7818_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:52px;
  height:8px;
}
#u7818_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:8px;
  height:106px;
}
#u7818_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:94px;
  width:112px;
  height:8px;
}
#u7818_seg3 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:94px;
  width:8px;
  height:36px;
}
#u7818_seg4 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:115px;
  width:20px;
  height:20px;
}
#u7818_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:85px;
  width:100px;
  word-wrap:break-word;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:443px;
  width:0px;
  height:0px;
}
#u7819_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u7819_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:281px;
  height:8px;
}
#u7819_seg2 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:-24px;
  width:8px;
  height:65px;
}
#u7819_seg3 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:-24px;
  width:120px;
  height:8px;
}
#u7819_seg4 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:-30px;
  width:20px;
  height:20px;
}
#u7819_text {
  border-width:0px;
  position:absolute;
  left:154px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u7820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:553px;
  width:112px;
  height:41px;
}
#u7820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:703px;
  width:112px;
  height:41px;
}
#u7821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:594px;
  width:0px;
  height:0px;
}
#u7822_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u7822_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:37px;
  width:453px;
  height:8px;
}
#u7822_seg2 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:37px;
  width:8px;
  height:72px;
}
#u7822_seg3 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:94px;
  width:20px;
  height:20px;
}
#u7822_text {
  border-width:0px;
  position:absolute;
  left:186px;
  top:33px;
  width:100px;
  word-wrap:break-word;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:574px;
  width:0px;
  height:0px;
}
#u7823_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:393px;
  height:8px;
}
#u7823_seg1 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:-131px;
  width:8px;
  height:135px;
}
#u7823_seg2 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:-136px;
  width:20px;
  height:20px;
}
#u7823_text {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:703px;
  width:112px;
  height:41px;
}
#u7824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:724px;
  width:0px;
  height:0px;
}
#u7825_seg0 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:337px;
  height:8px;
}
#u7825_seg1 {
  border-width:0px;
  position:absolute;
  left:-338px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7825_text {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:805px;
  width:112px;
  height:41px;
}
#u7826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:744px;
  width:0px;
  height:0px;
}
#u7827_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u7827_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u7827_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:805px;
  width:112px;
  height:41px;
}
#u7828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:826px;
  width:0px;
  height:0px;
}
#u7829_seg0 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:337px;
  height:8px;
}
#u7829_seg1 {
  border-width:0px;
  position:absolute;
  left:-338px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7829_text {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:896px;
  width:112px;
  height:41px;
}
#u7830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:846px;
  width:0px;
  height:0px;
}
#u7831_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u7831_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:67px;
  width:393px;
  height:8px;
}
#u7831_seg2 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:61px;
  width:20px;
  height:20px;
}
#u7831_text {
  border-width:0px;
  position:absolute;
  left:109px;
  top:63px;
  width:100px;
  word-wrap:break-word;
}
#u7832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1109px;
  width:112px;
  height:41px;
}
#u7832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:826px;
  width:0px;
  height:0px;
}
#u7833_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u7833_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:8px;
  height:312px;
}
#u7833_seg2 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:300px;
  width:348px;
  height:8px;
}
#u7833_seg3 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:294px;
  width:20px;
  height:20px;
}
#u7833_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:292px;
  width:100px;
  word-wrap:break-word;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1222px;
  width:0px;
  height:0px;
}
#u7834_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-4px;
  width:110px;
  height:8px;
}
#u7834_seg1 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-443px;
  width:8px;
  height:447px;
}
#u7834_seg2 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-443px;
  width:170px;
  height:8px;
}
#u7834_seg3 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-443px;
  width:8px;
  height:26px;
}
#u7834_seg4 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-432px;
  width:20px;
  height:20px;
}
#u7834_text {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:-274px;
  width:100px;
  word-wrap:break-word;
}
#u7835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1379px;
  width:112px;
  height:41px;
}
#u7835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1020px;
  width:0px;
  height:0px;
}
#u7836_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:384px;
}
#u7836_seg1 {
  border-width:0px;
  position:absolute;
  left:-389px;
  top:376px;
  width:393px;
  height:8px;
}
#u7836_seg2 {
  border-width:0px;
  position:absolute;
  left:-394px;
  top:370px;
  width:20px;
  height:20px;
}
#u7836_text {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:372px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1482px;
  width:112px;
  height:41px;
}
#u7837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:1000px;
  width:0px;
  height:0px;
}
#u7838_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u7838_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:448px;
}
#u7838_seg2 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:436px;
  width:93px;
  height:8px;
}
#u7838_seg3 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:436px;
  width:8px;
  height:46px;
}
#u7838_seg4 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:467px;
  width:20px;
  height:20px;
}
#u7838_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:261px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1482px;
  width:112px;
  height:41px;
}
#u7839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1503px;
  width:0px;
  height:0px;
}
#u7840_seg0 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:337px;
  height:8px;
}
#u7840_seg1 {
  border-width:0px;
  position:absolute;
  left:-338px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7840_text {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1597px;
  width:112px;
  height:41px;
}
#u7841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1400px;
  width:0px;
  height:0px;
}
#u7842_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u7842_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:8px;
  height:226px;
}
#u7842_seg2 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:214px;
  width:50px;
  height:8px;
}
#u7842_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:208px;
  width:20px;
  height:20px;
}
#u7842_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:101px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1714px;
  width:112px;
  height:41px;
}
#u7843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:1638px;
  width:0px;
  height:0px;
}
#u7844_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u7844_seg1 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:39px;
  width:114px;
  height:8px;
}
#u7844_seg2 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:39px;
  width:8px;
  height:37px;
}
#u7844_seg3 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:61px;
  width:20px;
  height:20px;
}
#u7844_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:1714px;
  width:112px;
  height:41px;
}
#u7845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1618px;
  width:0px;
  height:0px;
}
#u7846_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u7846_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:100px;
}
#u7846_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:81px;
  width:20px;
  height:20px;
}
#u7846_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1714px;
  width:112px;
  height:41px;
}
#u7847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1755px;
  width:0px;
  height:0px;
}
#u7848_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u7848_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:293px;
  height:8px;
}
#u7848_seg2 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:-24px;
  width:8px;
  height:54px;
}
#u7848_seg3 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:-24px;
  width:23px;
  height:8px;
}
#u7848_seg4 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:-30px;
  width:20px;
  height:20px;
}
#u7848_text {
  border-width:0px;
  position:absolute;
  left:112px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1714px;
  width:0px;
  height:0px;
}
#u7849_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-39px;
  width:8px;
  height:39px;
}
#u7849_seg1 {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-39px;
  width:220px;
  height:8px;
}
#u7849_seg2 {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-39px;
  width:8px;
  height:64px;
}
#u7849_seg3 {
  border-width:0px;
  position:absolute;
  left:-304px;
  top:17px;
  width:96px;
  height:8px;
}
#u7849_seg4 {
  border-width:0px;
  position:absolute;
  left:-309px;
  top:11px;
  width:20px;
  height:20px;
}
#u7849_text {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-43px;
  width:100px;
  word-wrap:break-word;
}
#u7850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1851px;
  width:112px;
  height:41px;
}
#u7850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1755px;
  width:0px;
  height:0px;
}
#u7851_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u7851_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u7851_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u7852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1851px;
  width:112px;
  height:41px;
}
#u7852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7853 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1872px;
  width:0px;
  height:0px;
}
#u7853_seg0 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:337px;
  height:8px;
}
#u7853_seg1 {
  border-width:0px;
  position:absolute;
  left:-338px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7853_text {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7854 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1937px;
  width:112px;
  height:41px;
}
#u7854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
}
#u7855 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1937px;
  width:112px;
  height:41px;
}
#u7855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7856 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1958px;
  width:0px;
  height:0px;
}
#u7856_seg0 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:337px;
  height:8px;
}
#u7856_seg1 {
  border-width:0px;
  position:absolute;
  left:-338px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7856_text {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7857 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1892px;
  width:0px;
  height:0px;
}
#u7857_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u7857_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u7857_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7858 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:979px;
  width:112px;
  height:41px;
}
#u7858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7859 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:937px;
  width:0px;
  height:0px;
}
#u7859_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u7859_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u7859_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7860 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:30px;
  width:140px;
  height:46px;
  font-size:18px;
}
#u7860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7861 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:30px;
  width:140px;
  height:46px;
  font-size:18px;
}
#u7861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
}
#u7862 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1201px;
  width:112px;
  height:41px;
}
#u7862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7863 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1150px;
  width:0px;
  height:0px;
}
#u7863_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u7863_seg1 {
  border-width:0px;
  position:absolute;
  left:-241px;
  top:68px;
  width:245px;
  height:8px;
}
#u7863_seg2 {
  border-width:0px;
  position:absolute;
  left:-246px;
  top:62px;
  width:20px;
  height:20px;
}
#u7863_text {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7864 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:1242px;
  width:0px;
  height:0px;
}
#u7864_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7864_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:392px;
  height:8px;
}
#u7864_seg2 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-116px;
  width:8px;
  height:160px;
}
#u7864_seg3 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:-116px;
  width:35px;
  height:8px;
}
#u7864_seg4 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:-122px;
  width:20px;
  height:20px;
}
#u7864_text {
  border-width:0px;
  position:absolute;
  left:214px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u7865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7865 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:245px;
  width:112px;
  height:41px;
}
#u7865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u7866 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:266px;
  width:0px;
  height:0px;
}
#u7866_seg0 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-4px;
  width:61px;
  height:8px;
}
#u7866_seg1 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-4px;
  width:8px;
  height:107px;
}
#u7866_seg2 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:95px;
  width:121px;
  height:8px;
}
#u7866_seg3 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:95px;
  width:8px;
  height:41px;
}
#u7866_seg4 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:20px;
  height:20px;
}
#u7866_text {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:88px;
  width:100px;
  word-wrap:break-word;
}
#u7867 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:266px;
  width:0px;
  height:0px;
}
#u7867_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:337px;
  height:8px;
}
#u7867_seg1 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7867_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7868 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:402px;
  width:112px;
  height:41px;
}
#u7868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u7869 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:402px;
  width:0px;
  height:0px;
}
#u7869_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-33px;
  width:8px;
  height:33px;
}
#u7869_seg1 {
  border-width:0px;
  position:absolute;
  left:-336px;
  top:-33px;
  width:340px;
  height:8px;
}
#u7869_seg2 {
  border-width:0px;
  position:absolute;
  left:-336px;
  top:-33px;
  width:8px;
  height:58px;
}
#u7869_seg3 {
  border-width:0px;
  position:absolute;
  left:-389px;
  top:17px;
  width:61px;
  height:8px;
}
#u7869_seg4 {
  border-width:0px;
  position:absolute;
  left:-394px;
  top:11px;
  width:20px;
  height:20px;
}
#u7869_text {
  border-width:0px;
  position:absolute;
  left:-255px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
