<div id="tmpl_form" class="forform" width="100%" border="0" cellspacing="0" cellpadding="0">
<form method="post" action="index.php?app=b2c&ctl=admin_member&act=check" id="terminal">
	<{input type='hidden' value=$member_id name="member_id" id="member_id"}>
<table align="center">
        <tr>
            <td class="table-action"> &nbsp&nbsp不通过：<input value='off' type='radio' id="valid_id" name="invalid_name" required='true' checked=checked> &nbsp&nbsp通过：<input type='radio' value='on' id="invalid_id" name="invalid_name" required='true'></td>
        </tr>
    <tr>
        <td class="table-action">白名单：&nbsp&nbsp否&nbsp&nbsp<input value='B' type='radio' id="is_white_two" name="is_white" required='true' checked=checked>&nbsp&nbsp是&nbsp&nbsp<input type='radio' value='A' id="is_white_one" name="is_white" required='true'></td>
    </tr>
    <tr>
        <td class="table-action">备注：
            <textarea rows="3" cols="20" name="reason">

            </textarea>
        </td>
    </tr>
        <tr>
            <td class="table-action" ><{button label="确定" type="submit" id="sel_mem_btn" class="btn-primary"}></td>
        </tr>
</table>
</form>
</div>


<script>
    //var point = '<{$data.points}>';
(function(){
    var _form = $('terminal');//form_id
    var btn =$('sel_mem_btn');//bt_id
    var finder = finderGroup['<{$env.get._finder.finder_id}>'];//finder_id

    _form.store('target',{
        onSuccess:function(response){
            var hash_res_obj = JSON.decode(response);

            if (hash_res_obj.success != undefined && hash_res_obj.success != "")
            {
                try{
                    var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                }catch(e){}

                if(_dialogIns)
                {
                    _dialogIns.close();
                }
            }

        }
    });
        btn.addEvent('click',function(){
            var validate = true;
            if (validate) {
                _form.fireEvent('submit',{stop:$empty});
            }
        });
})();


</script>
