<form action="index.php?app=b2c&ctl=admin_member&act=returnSet" id="member-form" method="POST">
    <input type="hidden" value=<{$member_id}> name="member_id"/>
    <input type="hidden" value=<{$order_id}> name="order_id"/>
    <input type="hidden" value=<{$is_return}> name="is_return"/>

    <div class="table-action">
        <button class="btn" type="submit" id="member-form-submit"><span><span><{t}>确认<{/t}></span></span></button>
    </div>
</form>

<script>
(function(){
	var _form = $('member-form');
	var btn =$('member-form-submit');
	//var finder = finderGroup['<{$env.get.finder_id}>'];
	
	_form.store('target',{
		onSuccess:function(response){
			var hash_res_obj = JSON.decode(response);
			if (hash_res_obj.success != undefined && hash_res_obj.success != "")
			{
				try{
					var _dialogIns = btn.getParent('.dialog').retrieve('instance');
				}catch(e){}
				if(_dialogIns)
				{	
					_dialogIns.close();
					//finder.refresh.delay(400,finder);
				}
			}	
		}
	});
	
})();
		
</script>