<{if $is_bklinks == 'true'}>
<{input type='refer' id=$member_id ident='member' name=$___b2c='会员'|t:'b2c' show='refer_id,refer_url,refer_time,c_refer_id,c_refer_url,c_refer_time'}>
<{/if}>
<div class="tableform">
  <div class="division">
    <{assign var="member_addr" value="地址" }>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <th><label><{t}>昵称：<{/t}></label></th>
        <td><{$mem.uname|escape:'html'}></td>
        <th><label>E-mail：</label></th>
        <td><{$mem.email}></td>
        <th><label><{t}>注册日期：<{/t}></label></th>
        <td><{$mem.regtime|cdate:FDATE}></td>
        <th><label><{t}>注册IP：<{/t}></label></th>
        <td><{$mem.reg_ip}></td>
      </tr>
      <tr>
        <th><label><{t}>会员类型：<{/t}></label></th>
        <td><{$mem.member_type_name|escape:'html'}></td>
        <th><label>企业名称：</label></th>
        <td><{$mem.cp_name}></td>
        <th><label>信用代码：</label></th>
        <td><{$mem.cp_id}></td>
        <th><label><{t}>公司行业：<{/t}></label></th>
        <td><{$mem.cp_ind_name}></td>
      </tr>
      <tr>
        <th><label><{t}>公司规模：<{/t}></label></th>
        <td><{$mem.cp_dim_name|escape:'html'}></td>
        <th><label><{t}>公司地址：<{/t}></label></th>
        <td><{$mem.cp_addr|escape:'html'}></td>
        <th><label>联系人：</label></th>
        <td><{$mem.cp_contact}></td>
        <th><label><{t}>公司网址：<{/t}></label></th>
        <td><{$mem.cp_web}></td>
      </tr>
      <tr>
        <th><label><{t}>证件图：<{/t}></label></th>
        <td><a href="<{$mem.pst_photo}>" target="_blank">查看图片</a></td>
      </tr>
    </table>
  </div>
</div>
