<div container='true'>
<div class="tableform">
    <table class="gridlist" width="100%" border="0" cellspacing="0" cellpadding="0">
	<thead>  <tr>  <th><{t}>会员id<{/t}></th><th><{t}>名称<{/t}></th><th><{t}>邮箱<{/t}></th><th><{t}>订单数<{/t}></th> <th><{t}>解绑<{/t}></th>   </tr>
    </thead>
	<tbody>
		<{foreach from=$members item=item key=key}>
        <tr>  <td><{$item.member_id}></a></td><td><{$item.name}></td><td><{$item.email}></td><td><{$item.order_num}><td><span onclick="new Dialog('index.php?app=b2c&ctl=admin_member&act=unbind_page&member_id=<{$item.member_id}>',{width:200,height:70,title:'确认解绑'})" class="lnk">解绑</span></td> </tr>
        <{/foreach}>



	</tbody>
    </table>
     <{$pager}>
</div>
</div>