<form action="index.php?app=b2c&ctl=admin_member&act=return_order_list" method="get">
	<div class="gridlist-action data-action" id="dataAction" style="margin-bottom:10px;padding:5px; border:0;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>
					<label><{t}>时间范围:<{/t}></label>
						<{input type="date" vtype="date" name="time_from" style="width:66px; font-family:arial;" value=$time_from}><{t}>至<{/t}>
						<{input type="date" vtype="date" name="time_to" style="width:66px; font-family:arial;" value=$time_to}>
					     <input type="hidden" name="type" value="<{$type}>">
						<{button type="submit" class="filterBtn btn-thirdly" label=$___ectools="确定"|t:'ectools'}>&nbsp;
				</td>
			</tr>
		</table>
	</div>
</form>
<table class="chart-view">
	 <tr>
		<td width="58%" valign="top">
			<div class="finder-packet chart-tabs">
				<h5 class="flt" ><{t}>返佣订单<{/t}></h5>
			    <ul class="clearfix">
			      <li class="<{if !$type}>current<{/if}>">
					 <a href="index.php?app=b2c&ctl=admin_member&act=return_order_list"><span><{t}>待返佣<{/t}></span></a>
				  </li>
			      <li class="<{if $type == 1}>current<{/if}>">
					<a href="index.php?app=b2c&ctl=admin_member&act=return_order_list&type=1"><span><{t}>已返佣<{/t}></span></a>
				  </li>
					<li class="<{if $type == 2}>current<{/if}>">
						<a href="index.php?app=b2c&ctl=admin_member&act=return_order_list&type=2"><span><{t}>不返佣<{/t}></span></a>
					</li>
			    </ul>
			</div>
		</td>
	 </tr>
</table>
<div style="height:80%;overflow:hidden" class="gridlist">
	<div class="tableform">
		<table class="gridlist" width="100%" border="0" cellspacing="0" cellpadding="0">
			<thead>  <tr>  <th><{t}>订单号<{/t}></th><th><{t}>订单状态<{/t}></th><th><{t}>总金额<{/t}></th><th><{t}>返佣金额<{/t}></th><th><{t}>返佣状态<{/t}></th><th><{t}>下单日期<{/t}></th><th><{t}>操作<{/t}></th>   </tr>
			</thead>
			<tbody>
			<{foreach from=$orders item=item key=key}>
			<tr>  <th><a target='_blank' href="index.php?app=b2c&ctl=admin_order&act=index&action=detail&id=<{$item.order_id}>&singlepage=true&finderview=detail_basic"><{$item.order_id}></a></td><td><{$item.order_status}></td></td><td><{$item.total_amount|cur}></td><td><{$item.scale|cur}></td><td><{$item.return_status}></td><td><{$item.createtime|cdate:'FDATE_FTIME'}></td>
				<td><{$item.operate}> </td></tr>
			<{/foreach}>
			</tbody>
		</table>
		<{$pager}>
	</div>
</div>
