<form method="post" id="click-form" action="index.php?app=b2c&ctl=admin_member&act=return_date_set" target="{update:'messagebox'}">
    <div class="tableform">
        <h3><{t}>返佣分成期限设置<{/t}></h3>
        <div class="division">
            <div class=" current">
                <table width="100%" cellspacing="0" cellpadding="0">
                  <tr> 
                    <th><{t}>时间<{/t}></th>
                    <td><{input name="date_nums" type="text" id="date_nums" value=$date_nums}>天</td>
                  </tr>
                </table>
            </div>
        </div>
        <div class="table-action">
                 <{button type="submit" label=$___bdlink="保存设置"|t:'bdlink' }>
        </div>
    </div>
</form>
