<div container='true'>
<div class="tableform">
    <table class="gridlist" width="100%" border="0" cellspacing="0" cellpadding="0">
	<thead>  <tr>  <th><{t}>订单号<{/t}></th><th><{t}>订单状态<{/t}></th><th><{t}>总金额<{/t}></th><th><{t}>返佣金额<{/t}></th><th><{t}>返佣状态<{/t}></th><th><{t}>下单日期<{/t}></th><th><{t}>操作<{/t}></th>   </tr>
    </thead>
	<tbody>
		<{foreach from=$orders item=item key=key}>
        <tr>  <th><a target='_blank' href="index.php?app=b2c&ctl=admin_order&act=index&action=detail&id=<{$item.order_id}>&singlepage=true&finderview=detail_basic"><{$item.order_id}></a></td><td><{$item.order_status}></td></td><td><{$item.total_amount|cur}></td><td><{$item.scale|cur}></td><td><{$item.return_status}></td><td><{$item.createtime|cdate:'FDATE_FTIME'}></td>
            <td><{$item.operate}> </td></tr>
        <{/foreach}>
       
	</tbody>
    </table>
     <{$pager}>
</div>
</div>
<script>
    (function(){
        var _form = $('member-form');
        var btn =$('member-form-submit');
        //var finder = finderGroup['<{$env.get.finder_id}>'];

        _form.store('target',{
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        //finder.refresh.delay(400,finder);
                    }
                }
            }
        });

    })();

</script>