<div id="tmpl_form" class="forform" width="100%" border="0" cellspacing="0" cellpadding="0">
<form method="post" action="index.php?app=b2c&ctl=admin_member&act=unbind" id="terminal">
	<{input type='hidden' value=$member_id name="member_id" id="member_id"}>
<table align="center">
        <tr>
            <td class="table-action" ><{button label="确定" type="submit" id="sel_mem_btn" class="btn-primary"}></td>
            <td class="table-action" ><{button label="取消" type="button" id="cancel_mem_btn" class="btn-primary"}></td>
        </tr>
</table>
</form>
</div>


<script>
    //var point = '<{$data.points}>';
(function(){
    var _form = $('terminal');//form_id
    var btn =$('sel_mem_btn');//bt_id
    var cancel =$('cancel_mem_btn');//bt_id
    var finder = finderGroup['<{$env.get._finder.finder_id}>'];//finder_id

    _form.store('target',{
        onSuccess:function(response){
            var hash_res_obj = JSON.decode(response);

            if (hash_res_obj.success != undefined && hash_res_obj.success != "")
            {
                try{
                    var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                }catch(e){}

                if(_dialogIns)
                {
                    _dialogIns.close();
                }
            }

        }
    });
        btn.addEvent('click',function(){
            var validate = true;
            if (validate) {
                _form.fireEvent('submit',{stop:$empty});
            }
        });
    cancel.addEvent('click',function(){
        try{
            var _dialogIns = btn.getParent('.dialog').retrieve('instance');
        }catch(e){}

        if(_dialogIns)
        {
            _dialogIns.close();
        }
    });
})();


</script>
