<div class="tableform">
<{tabber}>
    <{tab name=$___logisticstrack="物流跟踪设置"|t:'logisticstrack'}>
    <form action="<{link app=logisticstrack ctl='admin_tracker' act=index}>" method="post">
    <div class="clear division">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><{t}>是否启用订单跟踪查询:<{/t}></th>
          <td>
            <input type="radio" value="true"  name='system_order_tracking' <{if $system_order_tracking == 'true'}>checked="checked"<{/if}>  />
            <label for="bool-t">是</label>
            <input  type="radio" value="false" name='system_order_tracking' <{if $system_order_tracking == 'false'}>checked="checked"<{/if}> />
            <label for="bool-t">否</label>
          </td>
        </tr>
      </table>
    </div>

        <h4>
      <{t}>快递鸟物流跟踪配置<{/t}>
      <span class="notice">不填则使用shopex默认值，<a href="http://www.kdniao.com/YundanChaxunAPI.aspx" target="_blank" color="#FF0000">申请快递鸟授权文档地址</a></span>
    </h4>
    <div class="division">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><{t}>电商ID:<{/t}></th>
          <td><input type='text' name='hqepay[id]' value=<{$hqepay.id}> ></td>
        </tr>
        <tr>
          <th><{t}>AppKey:<{/t}></th>
          <td><input type='text' name='hqepay[appkey]' value=<{$hqepay.appkey}> ></td>
        </tr>
      </table>
    </div>

	  <div class="table-action"><{button type="submit" label=$___b2c="保存"|t:'logisticstrack' }></div>
    <{/tab}>
<{/tabber}>
</div>
