body {
	margin:0px;
	padding:0;
	font-size:12px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif, "宋体";
	background:#fff;
}
textarea, input {
	font-family:Arial, Helvetica, sans-serif, "宋体";
}
.banner {
	text-align:left;
	padding:0 0 0 0;
	color:#4F638Fl;
	font-size:14px;
	font-weight:bold;
}
.banner h1 {
	color:#3e3e3e;
	font-size:16px;
	font-weight:bold;
	height:25px;
	padding:10px 0 0 0;
}
.ins-step-tips {
	line-height:22px;
}
.ins-steps .span-auto, .ins-step-tips .span-auto {
	width:50%;
	margin-right: 0;
	background: #e9e9e9;
}
.ins-items {
	width:70%;
}
.ins-step-tips {
	width:20%;
}
.ins-items, .ins-step-tips {
	}
.step-item {
	padding: 8px;
	border: 2px solid #efefef;
}
.ins-step-tips {
	background:#e9e9e9;
	position:relative;
}
.ins-step-tips ul, .ins-step-tips li {
	list-style-type:none;
	margin:0;
}
.ins-step-tips ul {
	margin-top:30px;
}
.ins-step-tips sup {
	font-size: 14px;
	font-weight: bold;
}
.step-item {
	zoom:1;
	cursor:pointer;
}
.step-item sub {
	font-size: 12px;
	color:#ff3300;
	visibility: hidden;
}
.step-item-cur {
	border-color:#fff;
	background:#fff;
}
.step-item-cur sub {
	visibility: visible;
}
.ins-step-tip-ready sub {
	color:green;
}
.ins-items .ins-item {
	display:none;
	padding-bottom:10px;
}
.ins-items h3 {
	}
.ins-items .span-auto {
	margin: 0;
	width: 50%;
}
.ins-items .item {
	margin: 10px 0 0 10px;
}
.ins-items label {
	display: block;
	text-align: right;
	line-height: 30px;
}
.package {
	padding:20px 5px 5px 20px;
	margin:0;
	background:none;
	border-bottom:1px solid #BDCAE6;
}
.loading {
	background:#E2F3FC url(loading.gif) no-repeat 656px center !important;
}
.complete {
	color: #264409;
	background: #E9FFD9 url(complete_bg.gif) no-repeat right center;
}
.error2 {
	background-color: #FBE3E4;
	color: #8a1f11;
}
.console {
	border:1px #e9e9e9 solid;
	display:none;
}
.console input {
	width:100%;
	padding:3px 0 3px 0;
	border:none;
	border-top:1px #fff solid;
	background:#333;
	color:#fff;
}
.console-panel {
	height:250px;
	background:#333;
	color:#fff;
	font-family:Verdana;
	margin:0;
	line-height:22px;
}
.license {
	font-size:12px;
	height:250px;
	width:100%;
	border:none;
	margin:0;
	padding:0;
	color:#333333;
}
#console_info_handle a {
	text-decoration: none;
	cursor: pointer;
}
#console_info_handle a span {
	display:block;
	visibility:hidden;
	color:#fff;
	font-size:10px;
}
#console_info_handle a:hover span {
	visibility:visible;
}
/*---------setup--------*/
	
* {
	margin:0 auto;
	padding:0;
}
ul, p, dd, dl, dt, h1, img, li {
	margin:0;
	padding:0;
	border:0;
}
h4 {
	margin:0 0 10px 0;
	padding:8px 0 4px 0;
	color:#333;
	text-align:left;
}
.span-2 {
	text-align:right;
	padding-right:2px;
	padding-left:60px;
}
li {
	list-style:none;
	text-align:left;
}
.container {
	margin:3% auto 0 auto;
	display:inline-block;
	width:100%;
}
.container-all {
	width:100%;
	margin:0 auto;
}
.logo {
	height:35px;
	padding:0;
	width:800px;
	margin:0 auto;
}
.installer-main {
	width:800px;
	border:2px solid #3e3e3e;
	margin:0 auto;
}
.installer-steps {
	height:65px;
	padding:18px 24px 0 24px;
}
.installer-steps-main {
	height:50px;
	padding:0 0 14px 0;
}

.installer-steps-main ul {
	background-color: #eeeeee;
	overflow: hidden;
	padding: 10px;
}
.installer-steps-main li {
	line-height: 30px;
	height: 30px;
	padding: 0 12px;
	margin:0 10px;
	font-size: 16px;
	color: #999999;
	display: inline-block;
}
.installer-steps-main li em{
	border-radius: 50%;
	background-color: #cccccc;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-right: 10px;
}
.installer-steps-main .step-installing1,
.installer-steps-main .step-installing2,
.installer-steps-main .step-installing3,
.installer-steps-main .step-installing4{
	color:#007de6;
}
.installer-steps-main .step-installing1 em,
.installer-steps-main .step-installing2 em,
.installer-steps-main .step-installing3 em,
.installer-steps-main .step-installing4 em{
	background-color: #007de6;
	color: #ffffff;
}
.installer-steps-main .step-installed1,
.installer-steps-main .step-installed2,
.installer-steps-main .step-installed3,
.installer-steps-main .step-installed4{
	color:#40d539;
}
.installer-steps-main .step-installed1 em,
.installer-steps-main .step-installed2 em,
.installer-steps-main .step-installed3 em,
.installer-steps-main .step-installed4 em{
	background-color: #40d539;
	color: #ffffff;
}
.step-btn {
	width: 126px;
	height: 36px;
	border:none;
	cursor: pointer;
}
.step-btn.taskstepbutton-next1-disabled {
	cursor: default;
}
.installer-info {
	padding:10px 24px 50px 24px;
}
.right-main {
	height:auto;
	padding:0;
	background:#fff;
}
.right-main-info {
	padding:10px;
}
.complete .right-main-info{
	border:1px solid #ddd;
}
.complete .right-main-btn{
	border:none;
}
.right-main-btn {
	padding:10px 10px 10px 0;
	text-align:center;
	border-top: 1px solid #dddddd;
	position: relative;
}
.copyright {
	width:754px;
	height:40px;
	margin:0 auto;
	padding-top:10px;
}
.copyright span {
	color:#3367AC;
	padding-left:6px;
}
.taskstepbutton {
	cursor: pointer;
	width:160px;
	height:36px;
	font-size:12px;
	padding:0;
	margin:0;
	border:none;
	transition: all 0.3s ease;
}
.taskstepbutton_out,.step-btn.taskstepbutton-next1-disabled,.step-btn.taskstepbutton-next1-disabled:hover {
	background-color: #cccccc;
	color:#999999;
}
.taskstepbutton_move {
	background-color: #007de6;
	color: #ffffff;
}
.step-back {
	padding: 2px 10px;
	position: absolute;
	display: block;
	left: 0;
	top:20px;
	background-color: #dddddd;
	color:#666666;
}
.taskstepbutton-start,.step-btn,.taskstepbutton-detection {
	/*float:left;*/
	cursor: pointer;
	width:126px;
	height:36px;
	font-size:12px;
	padding:0;
	margin:0;
	border:none;
	background-color:#007de6;
	color: #ffffff;
	transition: all 0.3s ease;
}
.tasks_start:hover,.taskstepbutton_move:hover,.step-btn:hover,.taskstepbutton-detection:hover {
	background-color: #085ea7;
}
/*.taskstepbutton-startin {
	position:absolute;
	right:600px;
}*/

.info-license tr {
	height:26px;
}
.info-license th {
	text-align:right;
	width:130px;
	padding-right:6px;
}
.info-license td {
	text-align:left;
}
.notice-inline {
	background-color:#fff;
	border:none;
	color:#FF0000;
}
.console_handle {
	text-align:right;
	padding:60px 4px 4px 0;
	height:18px;
}
/*.right,.right-main {
	-webkit-border-radius-topright: 5px;
	-webkit-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
}*/
	/*----开始安装----*/
	.installer-proimg {
	width:290px;
	height:290px;
	float:left;
	padding:0 46px 0 20px;
}
.installer-proimg img {
	max-width: 100%;
	margin-top: 28%;
}
.succes .installer-proimg{
	height: 280px;
	background: url(ecstore_setup_product.png) no-repeat center center;
	-moz-background-size: 290px 91px;
	-webkit-background-size: 290px 91px;
	-ms-background-size: 290px 91px;
	-o-background-size: 290px 91px;
	background-size: 290px 91px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='ecstore_setup_product.png', sizingMethod='scale');
}
.succes .installer-proimg img{
	display: none;
}
.installer-proinfo {
	width:300px;
	height:291px;
	float:left;
	background:url(setup_product_01.gif) no-repeat left center;
	padding-left:60px;
	text-align:left
}
.installer-proinfow {
	width:330px;
	padding-left:40px;
}
.installer-proinfo-title {
	width:300px;
	font-size:28px;
	color:#333;
	font-family: "微软雅黑",Arial, Helvetica, sans-serif;
	line-height:260%;
	margin-top: 30px;
}
.installer-proinfo-title p {
	font-size:14px;
	line-height:250%;
}
.installer-success-title {
	width:100%;
	font-size:32px;
	color:#333;
	font-family: "微软雅黑",Arial, Helvetica, sans-serif;
	line-height:140%;
	text-align:center;
	padding-top:30px;
}
.installer-success-title p {
	font-size:14px;
	line-height:240%;
	text-align:left
}
.installer-success-txt {
	font-family: "微软雅黑",Arial, Helvetica, sans-serif;
	font-size:22px;
	padding-bottom:20px;
}
.loadpart {
	width:98%;
	border:1px solid #ddd;
	height:17px;
	position:relative;
	margin:20px 0 20px 10px;
}
.loader {
	height:100%;
	float:left;
	width:0px;
	text-align:center;
	background:#40d539;
}
.btnbox {
	height:24px;
	line-height:24px;
	padding:0 0 60px 0;
}
.appNum {
	color:#40d539;
	line-height:28px;
	font-size:28px;
	position:absolute;
	left:50%;
	top:-50px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
}
.right-main .hide {
	display:none;
}
.installer-proinfo input {
	transition: all 0.3s ease;
}
/*----重新检测----*/
	.installer-detection {
	width:704px;
	padding: 0 22px 0 22px;
	background:url(setup_navbg.gif) repeat-x top left;
}
.installer-detection-title {
	width:704px;
	height:58px;
}
.installer-detection-title h4 {
	color:#3E4D71;
	border-bottom:1px solid #BDCAE6;
	padding:15px 0 10px 0;
	margin:0;
}
.installer-detection th {
	text-align:left;
	padding:0 0 0 66px;
	line-height:220%;
}
.installer-detection td {
	text-align:left;
	padding:0 0 0 66px;
	line-height:220%;
}
.installer-detection-success {
	color:#669933;
	background:url(detection_icon_ok.gif) no-repeat center left;
	padding:0 0 0 20px;
}
.installer-detection-failure {
	background:url(detection_icon_w.gif) no-repeat center left;
	color:#ff0000;
}
.installer-detection .tableform {
	padding:0 0 10px 0;
}
