<form action="index.php?app=i18n&ctl=admin_index&act=toEdit&page=<{$page}>" method="post" id="i18n-form">
    <input type="hidden" name="item[id]" value="<{$item.id}>" id="gEditor-GId-input"/>

    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridlist">
        <tbody>
        <tr>
            <th>中文</th>
            <td><{input type="text" name="item[source]" size="80" value=$item.source  vtype="required"}></td>
        </tr>
        <tr>
            <th>英文</th>
            <td><{input type="text" name="item[translate]" size="80"  value=$item.translate  vtype="required"}></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><{button  id="btn-save" class="btn-primary" type="submit" label="保存"}></td>
        </tr>
        </tbody>
        </table>
</form>



<script>
    $('btn-save').addEvent('click',function(e){
        e.stop();
        var _form=this.form;
        _form.fireEvent('submit',e).erase('target');

    });
    $('i18n-form').store('target',{
        onComplete:function(){
            if($('btn-save').getParent('.dialog'))
                $('btn-save').getParent('.dialog').retrieve('instance').close();
        }
    });
</script>
