<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="tableform">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridlist">
        <thead>
        <tr>
            <th>留言标题</th>
            <th>提交时间</th>
            <th>email</th>
        </tr></thead><tbody>


    <tr>
        <td><{$item.item_subject}></td>
        <td><{$item.item_posttime|cdate}></td>
        <td><{$item.item_email}></td>
    </tr>

    </tbody>
    </table>
</div>