@font-face { font-family: hanSans; src: url(../font/hanSans.eot); src: url(../font/hanSans.eot) format("embedded-opentype"), url(../font/hanSans.woff2) format("woff2"), url(../font/hanSans.woff) format("woff"), url(../font/hanSans.ttf) format("truetype"), url(../font/hanSans.svg) format("svg"); }
@font-face { font-family: hanSans; src: url(../font/hanSansBold.eot); src: url(../font/hanSansBold.eot) format("embedded-opentype"), url(../font/hanSansBold.woff2) format("woff2"), url(../font/hanSansBold.woff) format("woff"), url(../font/hanSansBold.ttf) format("truetype"), url(../font/hanSansBold.svg) format("svg"); font-weight: 700; }
.wf-active body { font-family: hanSans; }