input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.desktop-icons { background: url(images/icons.png) no-repeat 0 0; }

.desktop-sliding { background: url(images/sliding.png) no-repeat 0 0; }

body, ul, p, dd, dl, dt, img, li { margin: 0; padding: 0; border: 0; }

li { list-style: none; text-align: left; }

body { font-size: 12px; text-align: center; font-family: Arial, Simsun, Helvetica, sans-serif; background-color: white; }

.content { width: 820px; margin: 70px auto; }

.login-t { width: 50%; margin: 0; padding: 0; }

.publicize { height: 250px; line-height:250px;text-align: center;}
.publicize img { max-width: 80%; vertical-align: middle;}
.passport-item { border: 1px #cccccc solid; border-left-color: #999999; border-bottom-color: #999999; padding: 10px; height: 250px; background: #efefef; border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -o-border-radius: 0 10px 10px 0; -ms-border-radius: 0 10px 10px 0; }

.passport-item ul, .passport-item li { list-style: none; margin: 0; padding: 0; }

.passport-title { font-size: 14px; font-family: "Microsoft YaHei", SimSun, Verdana; padding: 4px; margin: 4px; border-bottom: 1px #cccccc solid; }

.passport-item label { font-weight: normal; color: #333333; font-size: 12px; }

.passport-bd { line-height: 22px; }

.passport-bd li { padding: 10px 0; color: #666;}
.passport-bd li a{color: #007de6;}
.passport-bd li label { display: inline-block; *display: inline; *zoom: 1; text-align: right; width: 80px; }

li.colspan {padding-top: 5px; color: #3F4C68;padding-left: 80px;}
li.colspan label {width: auto;}
.verifycodeimg { margin: 3px 0 0 5px; width: 60px;}

.inputstyle-out { width: 210px; height: 25px; margin: 0px; border: 1px solid #DBDBDB; padding: 2px 0 0 10px;border-radius: 3px;}

.inputstyle-move { width: 210px; height: 25px; margin: 0px; border: 1px solid #ccc; padding: 2px 0 0 10px; border-radius: 3px;}

.inputstyle-short-out { width: 80px; height: 18px; padding: 1px 0 0 2px; margin: 0px; border: 1px solid #DBDBDB; border-radius: 3px;}

.inputstyle-short-move { width: 80px; height: 18px; padding: 1px 0 0 2px; margin: 0px; border: 1px solid #ccc; border-radius: 3px;}

.btn-login {color: #fff; width: 60%; height: 36px; line-height: 36px;cursor: pointer; font-size: 14px; font-weight: bold;background: #007de6;border:none;transition: all 0.3s ease;border-radius: 3px;}
.btn-login:hover{background: #0369bf;}
.info-tip { background: #ffffcc; position: absolute; margin: 9px 0 0 39px; *margin: 33px 0 0 -237px; overflow: visible; padding: 0 5px; color: #333; border: 1px solid #cccccc; visibility: hidden; }

.info-tip-arrow { background: url(images/login/arrow.gif) no-repeat; width: 10px; height: 10px; position: absolute; margin: -10px 0 0 3px; *margin: -13px 0 0 3px; display: block; }

.error-info { background: #fff2f2 url(images/login/stop.gif) no-repeat 5px 3px; color: #333; border: 1px solid #FF8080; position: absolute; padding: 0 5px 0 25px;top:40px;left: 120px;font-size: 12px;}

.copyright { width: 100%; height: 50px; text-align: center; color: #666; font-size: 12px; }

.copyright-main { width: 754px; height: 40px;margin: 0 auto; padding-top: 10px; }

.title h3 { margin-top: 0; }

.title h3 span { display: block; line-height: 20px; font-size: 9px; font-weight: normal; }

.fav { line-height: 25px; }

.fav a { color: #666; text-decoration: none; }

.fav a:hover { text-decoration: underline; }

.fav .act { padding-left: 16px; background: url(images/login/fav.gif) no-repeat 0 -19px; }

.fav .createshortcut { background-position: 0 0; }

/*---------signup--------*/
.signup-contant { width: 100%; height: auto; margin: 70px auto; }

.signup-contant-main { width: 754px; height: auto; margin: 0 auto; padding: 0; }

.logo { padding: 13px 0 6px 0; }

.logo h3 { text-align: left; margin: 0; padding: 0 0 0 5px; border: 0; color: #3e3e3e; }

.logo h3 span { display: block; line-height: 20px; font-size: 9px; font-weight: normal; }

.signup { width: 748px; border: 2px solid #3e3e3e; padding: 1px; }

.signip-main { width: 748px; background:#ffffff; padding-bottom: 30px;overflow: hidden;}

.ifram { width: 327px;float: left; text-align: left; color: #333333; font-size: 12px; overflow: hidden; margin: 26px 0 0 20px;}

.window {padding: 36px 0 0 10px;font-size: 14px;overflow: hidden;position: relative;}
.window-tab {font-weight: bold;text-align: left;border-bottom: 1px solid #ddd;margin-bottom: 10px;width: 303px;}
.window-tab h3{ display: inline-block;padding:8px 15px;background: #eee; font-size: 14px;border-radius: 3px 3px 0 0 ;color: #333333;}
.window-tab-current { width: auto; height: 30px; float: left; }

.window-tabmore li { float: left; }

.window-tabsingle li { float: left; }

.window-tabcurrent-left { width: 5px; height: 30px; float: left; background: url(images/login/signup_12.gif) no-repeat; }

.window-tabcurrent-mid { width: auto; height: 24px; float: left; padding: 6px 8px 0px 9px; background: url(images/login/signup_14.gif) repeat-x; }

.window-tabcurrent-right { width: 5px; height: 30px; float: left; background: url(images/login/signup_16.gif) no-repeat; }

.window-tab-unselected { width: auto; height: 22px; float: left; padding: 6px 0px 0px 20px; }

.window-info { width: 260px; height: 24px; float: left; padding: 5px 0px 5px 0px; }

.window-info-title { width: 56px; height: 24px; float: left; overflow: hidden; font-size: 14px; color: #3F4D69; text-align: right; padding: 6px 6px 0px 0px; }

.window-info-input { width: 182px; height: 24px; float: left; text-align: left; }

.window-info-inputcode { width: 112px; height: 24px; float: left; text-align: left; }

.signup-input { width: 176px; height: 18px; margin: 0; border: 1px solid #C1CFE2; padding: 2px 0 0 2px; }

.signup-input-code { width: 106px; height: 18px; margin: 0px; border: 1px solid #C1CFE2; padding: 2px 0 0 2px; }

.code { width: 65px; height: 22px; float: left; }

.check-txt { width: 78px; height: 17px; float: left; font-size: 12px; color: #3F4C68; text-align: left; padding: 5px 0px 0px 2px; }

.check { width: auto; height: 22px; float: left; text-align: left; padding-left: 58px; }

.window-btn { width: 79px; height: 29px; float: left; padding-left: 62px; }

.inverted-image { width: 817px; height: 24px; background: url(images/login/signup_31.png) no-repeat; float: left; }

/*---------active code--------*/
.signup-activation { height: 348px; }

.activation-main { width: 748px; height: 348px; background: url(images/login/activation_05.gif) repeat-x; }

.activation { width: 448px; padding: 38px 0 0 0; margin: 0 auto; }
.activation .window-main { width: 310px; height: 180px; float: left; padding: 30px 68px 0px 68px; border: 1px solid #CCD7EC; margin: 0 0 25px 0; }
.activation .blank-line { width: 310px; line-height: normal; border-bottom: 1px solid #CCD7EC; margin: 26px 0 20px 0; *margin: 10px 0 20px 0; }
.activation .btn { float: left; padding: 0 0 0 168px; }

.activation-input { border: 1px solid #91A7D5; width: 200px; height: 22px; line-height: 160%; }
