<div class="ColColorOrange clearfix">
    <{foreach from=$detail key=key item=item name="info"}>
     <div class="span-auto">
        <a title="<{$key}>" info="<{$item.memo}>"><{img src="bundle/{$item.icon}" app='desktop'}></a>
        <span class="f-12"><{$key}>:</span><strong class="f-18"><{$item.value}></strong>
     </div>
    <{/foreach}>
</div>
