﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1288px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:1568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:1568px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:1288px;
  height:38px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:172px;
  width:241px;
  height:17px;
  font-size:15px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:1288px;
  height:38px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:134px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:124px;
  width:1px;
  height:38px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:136px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:33px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:10px;
  width:57px;
  height:16px;
  color:#666666;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:10px;
  width:57px;
  height:16px;
  color:#666666;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:86px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:100px;
  height:86px;
  color:#666666;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:100px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:6px;
  width:58px;
  height:24px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:8px;
  width:57px;
  height:16px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:8px;
  width:121px;
  height:16px;
  color:#666666;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:3px;
  width:60px;
  height:26px;
  font-size:11px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:49px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:219px;
  width:1226px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1222px;
  word-wrap:break-word;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:267px;
  width:1226px;
  height:670px;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:180px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:180px;
  color:#666666;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:99px;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:180px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:223px;
  height:180px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:180px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:225px;
  height:180px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:180px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:0px;
  width:225px;
  height:180px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:180px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:0px;
  width:224px;
  height:180px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:180px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:226px;
  height:180px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:103px;
  height:50px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:99px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:50px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:180px;
  width:223px;
  height:50px;
  color:#666666;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:219px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:180px;
  width:225px;
  height:50px;
  color:#666666;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:180px;
  width:225px;
  height:50px;
  color:#666666;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:221px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:180px;
  width:224px;
  height:50px;
  color:#666666;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:220px;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:180px;
  width:226px;
  height:50px;
  color:#666666;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:103px;
  height:40px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:230px;
  width:223px;
  height:40px;
  color:#666666;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:230px;
  width:225px;
  height:40px;
  color:#666666;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:230px;
  width:225px;
  height:40px;
  color:#666666;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:230px;
  width:224px;
  height:40px;
  color:#666666;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:230px;
  width:226px;
  height:40px;
  color:#666666;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:103px;
  height:40px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:270px;
  width:223px;
  height:40px;
  color:#666666;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:270px;
  width:225px;
  height:40px;
  color:#666666;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:270px;
  width:225px;
  height:40px;
  color:#666666;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:270px;
  width:224px;
  height:40px;
  color:#666666;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:270px;
  width:226px;
  height:40px;
  color:#666666;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:310px;
  width:103px;
  height:40px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:310px;
  width:223px;
  height:40px;
  color:#666666;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:310px;
  width:225px;
  height:40px;
  color:#666666;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:310px;
  width:225px;
  height:40px;
  color:#666666;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:310px;
  width:224px;
  height:40px;
  color:#666666;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:310px;
  width:226px;
  height:40px;
  color:#666666;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:103px;
  height:40px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:350px;
  width:223px;
  height:40px;
  color:#666666;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:350px;
  width:225px;
  height:40px;
  color:#666666;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:350px;
  width:225px;
  height:40px;
  color:#666666;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:350px;
  width:224px;
  height:40px;
  color:#666666;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:350px;
  width:226px;
  height:40px;
  color:#666666;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:103px;
  height:40px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:390px;
  width:223px;
  height:40px;
  color:#666666;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:390px;
  width:225px;
  height:40px;
  color:#666666;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:390px;
  width:225px;
  height:40px;
  color:#666666;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:390px;
  width:224px;
  height:40px;
  color:#666666;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:390px;
  width:226px;
  height:40px;
  color:#666666;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:103px;
  height:40px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:430px;
  width:223px;
  height:40px;
  color:#666666;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:430px;
  width:225px;
  height:40px;
  color:#666666;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:430px;
  width:225px;
  height:40px;
  color:#666666;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:430px;
  width:224px;
  height:40px;
  color:#666666;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:430px;
  width:226px;
  height:40px;
  color:#666666;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:103px;
  height:40px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:470px;
  width:223px;
  height:40px;
  color:#666666;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:470px;
  width:225px;
  height:40px;
  color:#666666;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:470px;
  width:225px;
  height:40px;
  color:#666666;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:470px;
  width:224px;
  height:40px;
  color:#666666;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:470px;
  width:226px;
  height:40px;
  color:#666666;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:103px;
  height:40px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:510px;
  width:223px;
  height:40px;
  color:#666666;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:510px;
  width:225px;
  height:40px;
  color:#666666;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:510px;
  width:225px;
  height:40px;
  color:#666666;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:510px;
  width:224px;
  height:40px;
  color:#666666;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:510px;
  width:226px;
  height:40px;
  color:#666666;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:103px;
  height:40px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:550px;
  width:223px;
  height:40px;
  color:#666666;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:550px;
  width:225px;
  height:40px;
  color:#666666;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:550px;
  width:225px;
  height:40px;
  color:#666666;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:550px;
  width:224px;
  height:40px;
  color:#666666;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:550px;
  width:226px;
  height:40px;
  color:#666666;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:590px;
  width:103px;
  height:40px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:590px;
  width:223px;
  height:40px;
  color:#666666;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:590px;
  width:225px;
  height:40px;
  color:#666666;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:590px;
  width:225px;
  height:40px;
  color:#666666;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:590px;
  width:224px;
  height:40px;
  color:#666666;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:590px;
  width:226px;
  height:40px;
  color:#666666;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:103px;
  height:40px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:630px;
  width:223px;
  height:40px;
  color:#666666;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:630px;
  width:225px;
  height:40px;
  color:#666666;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:630px;
  width:225px;
  height:40px;
  color:#666666;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:630px;
  width:224px;
  height:40px;
  color:#666666;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:630px;
  width:226px;
  height:40px;
  color:#666666;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:99px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:280px;
  width:148px;
  height:99px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:386px;
  width:202px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:99px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:280px;
  width:148px;
  height:99px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:386px;
  width:202px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:99px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:280px;
  width:148px;
  height:99px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:386px;
  width:202px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:99px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:280px;
  width:148px;
  height:99px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:386px;
  width:202px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:99px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:280px;
  width:148px;
  height:99px;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:386px;
  width:202px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:411px;
  width:60px;
  height:25px;
  color:#666666;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:391px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1085px;
  width:1288px;
  height:391px;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1131px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1161px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1187px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1213px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1239px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1265px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1131px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1161px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1187px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1213px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1239px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1132px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1162px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1188px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1214px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1240px;
  width:105px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1132px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1162px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1188px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1214px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1240px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1266px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:1132px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:1162px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:1188px;
  width:50px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:1214px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:1240px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:2px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1305px;
  width:1288px;
  height:1px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1345px;
  width:745px;
  height:80px;
  color:#999999;
  text-align:center;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  white-space:nowrap;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:402px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u976 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:400px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u977 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:400px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u978 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:400px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u979 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:400px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
